<div class="class">
    <h2>Products:</h2>
    <div *ngFor="let product of products">
        <h3>
            <a [title]="product.name">
                {{ product.name }}
            </a>
        </h3>
        <p *ngIf="product.description"><b>Description:</b> {{product.description}}</p>
        <div class="buttons">
            <button id="shareButton" (click)="share()">Share</button>
            <app-product-alerts [cellProduct]="product" (notify)="onNotify()"></app-product-alerts>
        </div>
    </div>
</div>
